.container {
    display: grid;
    grid-auto-rows: minmax(25vh,auto);
    gap:2px 2px;
    grid-template-areas: "d1" "d2" "d3" "d4" "d5" "d6" "d7" "d8";
    color: white;
    text-align: center;
    line-height: 200px;
    font-size: 22px;
}
.container>div{
    opacity: 0.7;
}
.container>div:hover{
    opacity: 1;
    color: blue;
    font-size: 32px;
}

@media(min-width:990px) {
    .container{
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:"d1 d1 d2" "d3 d4 d4" "d5 d5 d6" "d5 d5 d7" "d8 d8 d8";
 }
} 
.container div:nth-child(1){
    background-image: url(img/11.jpg);
    background-size: cover;
    background-position: center;
    grid-area: d1;
}
.container div:nth-child(2){
    background-image: url(img/22.jpg);
    background-size: cover;
    background-position: center;
    grid-area: d2;
}
.container div:nth-child(3){
    background-image: url(img/33.jpg);
    background-size: cover;
    background-position: center;
    grid-area: d3;
}
.container div:nth-child(4){
    background-image: url(img/77.jpg);
    background-size: cover;
    background-position: center;
    grid-area: d4;
}
.container div:nth-child(5){
    background-image: url(img/55.jpg);
    background-size: cover;
    background-position: center;
    grid-area: d5;
    line-height: 450px;
}
.container div:nth-child(6){
    background-image: url(img/66.jpg);
    background-size: cover;
    background-position: center;
    grid-area: d6;
}
.container div:nth-child(7){
    background-image: url(img/44.jpg);
    background-size: cover;
    background-position: center;
    grid-area: d7;
}
.container div:nth-child(8){
    background-image: url(img/88.jpg);
    background-size: cover;
    background-position: center;
    grid-area: d8;
}